.news {
	display: flex;
	flex-direction: column;
}
.news__item {
	border: 1px solid var(--gray);
	max-height: 250px;
	max-width: 100%;
	margin: var(--gap-md);
}
.news__item-link {
	text-decoration: none;
}