.label {
	cursor: text;
	display: block;
}
.input {
	display: block;
	border: 1px solid var(--dark-gray);
	border-radius: 2px;
	padding: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	width: 400px;
	max-width: 100%;
	margin-bottom: var(--gap-lg);
}
.input--error {
	border: 1px solid var(--red);
	background-color: var(--washed-red);
	color: var(--red);
}
.textarea {
	height: 300px;
	resize: none;
}
.no-margin {
	margin-bottom: 0;
}