.button {
	padding: 6px 15px;
	border: none;
	border-radius: 2px;
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
.button:hover {
	opacity: 0.9;
}