.container {
	max-width: var(--container-size);
	padding: 24px 0;
	margin-left: auto;
	margin-right: auto;
}
.news {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
}
.news__item {
	max-height: 834px;
	display: flex;
	flex-direction: column;
	padding: var(--gap-md);
	border-right: 1px solid var(--gray);
}
.news__item-separator {
	margin-top: auto;
	width: 100%;
	color: #e5e7eb;
	opacity: 0.25;
}
.news__item-image {
	width: 100%;
	margin-bottom: var(--gap-sm);
	margin-top: calc(var(--gap-md) * -1);
	margin-bottom: var(--gap-md);
}
.news__item-title {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: var(--black);
	margin-top: 0;
}
.news__item-subtitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 1.5rem;
	font-weight: lighter;
	color: var(--black);
	margin-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news__item-image {
	max-height: 300px;
}

@media only screen and (min-width: 900px) {
	.news__item-image {
		display: none;
	}
	.news {
		grid-template-columns: repeat(2, 1fr);
	}
	.news :first-child {
		grid-column: span 2;
	}
	.news > :first-child > .news__item-title {
		font-size: 30px;
	}
	.news > :first-child > .news__item-image {
		display: block;
	}
	.news__item {
		max-height: 689px;
	}
}

@media only screen and (min-width: 1250px) {
	.news {
		grid-template-columns: 1fr 2fr 1fr;
	}
	.news :first-child {
		grid-column: span 1;
	}
	.news > :first-child > .news__item-image {
		display: none;
	}
	.news > :nth-child(2) > .news__item-image {
		display: block !important;
	}
	.news :nth-child(3) {
		grid-row: span 2;
	}
	.news :nth-child(4) {
		grid-column: span 2;
	}
	.news__item {
		max-height: 689px;
	}
}

@media only screen and (min-width: 1450px) {
	.news {
		grid-template-columns: 1fr 2fr 1fr 1fr;
	}
	.news :nth-child(2) {
		grid-row: span 2;
	}
	.news :nth-child(3) {
		grid-row: span 1;
	}
	.news :nth-child(4) {
		grid-column: span 1;
	}
	.news :nth-child(6) {
		grid-column: span 2;
	}
	.news :nth-child(7) {
		grid-column: span 4;
	}
	.news :nth-child(10) {
		grid-column: span 2;
	}
	.news__item {
		max-height: 834px;
	}
}