@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
	--gray: #e5e7eb;
	--black: #2a2a2a;
	--dark-gray: #636161;
	--gap-sm: 6px;
	--gap-md: 12px;
	--gap-lg: 15px;
	--breakpoint-sm: 900px;
	--breakpoint-md: 1250px;
	--breakpoint-lg: 1450px;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}