.header {
	height: 60px;
	width: 100%;
	padding-left: var(--gap-sm);
	padding-right: var(--gap-sm);
	border-bottom: 1px solid var(--gray);
	background-color: white;
}
.navbar {
	height: 100%;
	max-width: var(--container-size);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gap-md);
	padding-right: var(--gap-md);
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.navbar__logo {
	height: 100%;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
}
.navbar__logo-link {
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: var(--black);
}
.navbar__logo:hover {
	opacity: 0.75;
}
.navbar__menu {
	display: inline-flex;
	gap: 8px;
	padding-left: 0;
}
.navbar__menu-item {
	list-style-type: none;
}
.navbar__menu-item-link {
	text-decoration: none;
	color: var(--black);
}
.navbar__menu-item-link:hover {
	opacity: 0.75;
}
.navbar__menu-item-link-danger {
	color: var(--red);
}