.header {
	height: 60px;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 1px solid #e5e7eb;
	background-color: white;
}

.navbar {
	height: 100%;
	/* TODO colocar valor em variavel */
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__logo {
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.navbar__logo-link {
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: black;
}

.navbar__logo:hover {
	opacity: 0.75;
}

.navbar__menu {
	display: inline-flex;
	gap: 8px;
}

.navbar__menu-item {
	list-style-type: none;
}

.navbar__menu-item-link {
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
}

.navbar__menu-item-link:hover {
	opacity: 0.75;
}